.gamePublish {
    width: 80%;
    margin: auto;
    height: 100vh;
    .flowChartContainer {
        width: 50%;
        min-width: 200px;
        margin: 0 auto;
    }
    .publishBtnWrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid rgba(#000, .1);
    }
    .groupBtnWrapper {
        display: flex;
        justify-content: flex-end;
    }
}