@import "~@elf/component/lib/public";

$border: 1px solid rgba($color-black, .05);
$height-tr: 2.4rem;
$color-green: #43be42;
$color-light: rgba(white, .8);
$color-dark: #2a3564;
$color-dark2: #212a51;
$color-orange: #f99460;
$color-red: #d6444e;
$sidePanelBasis: 24rem;

@mixin panel {
  display: flex;
  flex-direction: column;
  background: linear-gradient($color-dark, $color-dark2);
  padding-bottom: 3rem;
}

.label {
  display: inline-block;
  margin: 1rem;

  em {
    margin: 1rem;
    font-size: $fontSize-large;
    color: $color-orange;
  }
}

.subLabel {
  display: block;
  text-align: center;
  opacity: .6;
}

.create {
  margin: 1rem;
}

.play {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: radial-gradient(at 50% 50%, $color-dark 10%, $color-dark2 80%);
  color: $color-light;
  user-select: none;

  table {
    color: $color-light;
  }

  .tradeListWrapper {
    @include panel;

    .tradeList {
      table-layout: fixed;
      text-align: center;
      margin: 1rem auto;
      flex-grow: 1;
      overflow: auto;

      tr {
        height: 2rem;

        th {
          width: 5rem;
          font-weight: normal;
        }

        td {
          color: $color-orange;

          &:first-child {
            color: $color-light;
          }
        }
      }
    }
  }

  .trading {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .tradePanel {
      flex-basis: $sidePanelBasis;
    }

    .asset {
      .summary {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div {
          flex-basis: 45%;
          margin-top: 1.5rem;

          em {
            display: inline-block;
            width: 6rem;
            font-size: $fontSize-large;
            color: $color-orange;
            text-align: center;
          }
        }
      }

      .repayWrapper {
        .repay {
          margin: 1rem 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }

    .orderPanel {
      flex-basis: 1.5 * $sidePanelBasis;
      min-height: 80vh;

      .title {
        text-align: center;
        font-size: $fontSize-large;
        margin: 1.5rem;
        color: $color-light;
      }

      .orderBook {
        min-height: 16rem;
        display: flex;
        justify-content: space-between;

        .orderList {
          width: calc(50% - .2rem);
          table-layout: fixed;
          text-align: center;

          .orderTable {
            margin: auto;

            tr {
              height: 2rem;
              text-align: center;

              th {
                font-weight: normal;
                width: 4rem;

                &:last-child {
                  width: 1rem;
                }
              }

              td {
                color: $color-red;

                &.count {
                  color: $color-orange;
                }

                .btnCancel {
                  color: $color-light;
                  transition: $transition-normal;

                  &:hover {
                    color: $color-red;
                  }
                }
              }
            }
          }
        }
      }

      .orderSubmission {
        @include secondarySection;

        .marketWillOpen {
          text-align: center;
          margin: 2rem;
          font-size: 1.5rem;
          color: rgba($color-light, .8);

          em {
            font-size: 2.5rem;
            color: $color-red;
            margin: 0 .5rem;
          }
        }

        .newOrder {
          text-align: center;

          .orderInputWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          .submitBtnWrapper {
            margin: 2rem 0;
            display: flex;
            justify-content: center;
          }
        }
      }

      &.test {
        text-align: center;

        .testTitle {
          font-size: $fontSize-large;
          color: $color-green;
        }

        .testLabel {
          margin: 1rem 0;
        }

        .answer {
          margin: 1rem;

          em {
            margin: 1rem;
            font-size: $fontSize-large;
          }
        }
      }
    }

    .marketHistoryWrapper {
      flex-basis: $sidePanelBasis;

      .marketHistory {
        @include panel;
        padding: 1rem;
        cursor: pointer;
        transition: $transition-normal;

        &:hover {
          background: linear-gradient($color-dark, $color-dark);
        }
      }
    }
  }

  .resultWrapper {
    text-align: center;

    .result {
      .resultTitle {
        margin: 2rem;
        font-size: $fontSize-large;
      }

      .resultTable {
        margin: auto;

        td {
          padding: 1rem 2rem;
          border: 1px solid;
        }
      }

      .tips {
        position: fixed;
        right: 15vw;
        top: 55vh;

        .tipsTitle {
          margin: 1rem;
        }

        .tipsContent {
          margin: 1rem 2rem;
          text-align: left;
        }

        @media (max-width: $layout-mediaWidth) {
          top: 90vh;
        }
      }
    }

    .toNextPeriod {
      margin: 2rem;
      font-size: $fontSize-large;

      em {
        font-size: 2rem;
        color: $color-red;
        margin: 0 .5rem;
      }
    }

    .switchBtns {
      margin: 2rem;
      display: flex;
      justify-content: center;
    }
  }

  .guideProgress {
    position: absolute;
    z-index: 1000;
    display: flex;
    text-align: center;
    top: 1rem;

    li {
      display: flex;
      width: 10rem;
      height: .5rem;
      align-items: center;
      background: #101f34;
      justify-content: center;

      .step {
        background: #999;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        border-radius: 50%;
      }

      &.active {
        background: $color-dark;

        .step {
          background: #409946;
        }
      }
    }
  }
}

.repayGuide {
  text-align: left;
  font-size: 1rem;
}

.leverageTest {
  max-width: 48rem;
  margin: auto;

  .title {
    font-size: $fontSize-large;
    padding: 1rem;
    text-align: center;
    color: $color-green;
  }
  .questions{
    li{
      margin: 2rem;
      .answer{
        color: $color-green!important;
        opacity: 0;
        transition: $transition-normal;
      }
    }
    .radioQuestion *{
      color: $color-light !important;
    }
    &.showAnswer .answer{
      opacity: 1;
    }
  }
}

.play4owner {
  text-align: center;

  .waitInfo {
    margin: 1rem;
  }

  .periodInfo {
    display: inline-block;
    margin: 1rem;
  }

  .chartWrapper {
    margin: auto;
    max-width: 32rem;
  }
}

.result4Owner {
  .timeLine {
    margin: 1rem;
  }

  .actionInfo {
    margin: 1rem;
  }
}
