@import "public";

.gameList {
  text-align: center;
  padding: 0 1rem;
  .gameItem {
    height: 8rem;
    display: flex;
    align-items: center;
    border: $borderLine;
    cursor: pointer;
    transition: $transition-normal;

    &:hover {
      box-shadow: 0 1px 1px 0 rgba($color-black, 0.1);
    }
  }
}
