.actionBtns {
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.loading {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    padding: 1rem;
    color: white;
    > .selectSubGame, .selectGameMode {
        > * {
            margin-top: 10px
        }
    }
    > .matchSuccess {
        min-height: 100px;
        text-align: center;
    }
    > .continueGame {
        > .label {
            margin: 10px 0;
            text-align: center;
        }
    }
    > .bottom {
        margin-top: 10px;
    }
}