@import "~@elf/component/lib/public";

.subBtnGroup{
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  .btns{
    display: flex;
    border-radius: $border-radius;
    overflow: hidden;
    li{
      padding: .6rem 1.5rem;
      background: white;
      color: rgba($color-black,.5);
      cursor: pointer;
      transition: all .2s linear;
      &:hover{
        color: $color-blue;
      }
      &.active{
        background: $color-blue;
        color: #fff;
      }
    }
  }
  .operateTips{
    margin: 1rem;
    font-size: .8rem;
    color: rgba($color-black,.3);
    em{
      display: block;
      font-size: 3rem;
      color: rgba($color-blue,.8);
      user-select: none;
    }
  }
}

.subHeader{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  border-bottom: 1px dotted rgba($color-black, .5);
  li{
    min-width: 16rem;
    em{
      font-size: $fontSize-large;
      color: $color-blue;
    }
  }
  &.roleB li em{
    color: $color-red;
  }
}

.historyTable{
  text-align: center;
  table{
    font-size: .8rem;
    width: 100%;
    thead td{
      padding: .5rem;
      font-size: $fontSize-large;
      color: rgba($color-black,.8);
      background: #e8e8e8;
    }
    tr{
      &:first-child{
        height: 2.5rem;
      }
      &:nth-child(odd){
        background: #e8e8e8;
      }
    }
  }
}

.matrix{
  margin: 1rem;
  padding: 1rem;
  border-radius: $border-radius;
  background: white;
  box-shadow: $shadow-normal;
  .matrixTitle{
    margin-bottom: .5rem;
    font-size: $fontSize-large;
    color: rgba($color-black,.8);
  }
  .dices{
    background: $color-background;
    margin: 1rem;
    li{
      margin: 1rem 4px;
      display: inline-block;
      width: 3rem;
    }
  }
  table{
    width: 100%;
    table-layout: fixed;
    td{
      height: 4rem;
      font-weight: bold;
      color: rgba($color-black,.5);
      transition: all .2s linear;
      &.svgWrapper{
        .roleName{
          font-weight: normal;
          font-size: 10px;
          fill: $color-red;
          &:first-child{
            fill: $color-blue;
          }
        }
      }
    }
    .activeRow td{
      background: rgba($color-blue,.2);
      span:first-child{
        color: $color-blue;
      }
    }
    .activeCell{
      background: rgba($color-red,.2);
      span:last-child{
        color: $color-red;
      }
    }
    .activeRow .activeCell{
      background: rgba(($color-red + $color-blue)/2,.4);
      font-size: 1.5rem;
    }
  }

  &.disabled{
    -webkit-filter: grayscale(100%);
    filter:grayscale(100%);
    opacity: .5;
  }
}