.gameInfo{
  max-width: 48rem;
  margin: 0 auto;
  .createBtnWrapper {
    display: flex;
    justify-content: center;
  }
  .switchContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    >span {
      margin-left: 5px;
    }
  }
}