@import "~@elf/component/lib/public";

@mixin createBaseFields {
  li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    label {
      min-width: 12rem;
      text-align: right;
    }

    input {
      margin: 0 .5rem;
      width: 12rem;
      border-bottom-color: rgba($color-black, .2);
      transition: .2s all linear;

      &:hover {
        border-bottom-color: rgba($color-black, .5);
      }
    }

    a {
      width: 12rem;
    }
  }
}

.blankMsg {
  @include blankMsg;
}

.create {
  margin: 2rem;

  .baseFields {
    @include createBaseFields
  }
}

.play {
  padding: 2rem;
  max-width: 48rem;
  margin: auto;

  .seatNumberStage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: $color-black;

    label {
      font-size: $fontSize-large;
    }

    input {
      width: 24rem;
      margin: 1.5rem 0;
      padding: 1rem 1.5rem;
      border-style: none;
      border-bottom: 1px solid;
      outline: none;
      font-size: 5rem;
      text-align: center;
    }
  }

  .mainTestStage {
    em {
      font-size: $fontSize-large;
      color: $color-red;
      margin: .5rem;
    }
    > ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 20px;
    }
    input {
      border: none;
      outline: none;
      background-color: transparent;
      width: 60px;
      border-bottom: 1px solid black;
      padding: 0 10px;
      font-size: 16px;
      text-align: center;
    }
    .gameWillStart{
      margin: 2rem;
      text-align: center;
      font-size: $fontSize-middle;
      color: $color-black;
    }
  }

  .result {
    color: $color-black;

    em {
      margin: .5rem;
      font-size: $fontSize-middle;
      color: $color-blue;
    }
  }
}

.play4Owner {
  padding: 2rem;
  max-width: 48rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .countDown{
    width: 100%;
    color: $color-black;
    em{
      font-size: $fontSize-large;
      color: $color-blue;
      margin: .5rem;
    }
  }

  .playerStates {
    margin: 1rem;
    tr {
      td {
        min-width: 5rem;
        padding: .5rem;
        text-align: center;
      }

      &:nth-child(even) {
        background: rgba($color-black, .05);
      }
    }
  }
}

.result {
  padding: 2rem;
  max-width: 48rem;
  margin: auto;
  color: $color-black;

    em {
      margin: .5rem;
      font-size: $fontSize-middle;
      color: $color-blue;
    }
}

.result4Owner {
  padding: 2rem;
  display: flex;

  .resultTable {
    tr {
      td {
        min-width: 5rem;
        padding: .5rem;
        text-align: center;
      }

      &:nth-child(even) {
        background: rgba($color-black, .05);
      }
    }
  }

  .exportWrapper {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid rgba($color-black, .1);

    label {
      margin: .5rem;
      font-size: .8 * $fontSize-small;
      color: rgba($color-black, .8);
    }

    a {
      display: inline-block;
      margin: .5rem;
      font-size: $fontSize-middle;
      color: $color-blue;
      text-align: center;
      transition: $transition-normal;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.phaseOver {
  margin-top: 2rem;
  font-size: $fontSize-middle;
  .btnWrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}
