@import "~elf-component/lib/resource/public";

$border: 1px solid rgba($color-black, .05);
$height-tr: 2.4rem;
$color-green: #43be42;
$color-light: rgba(white, .8);
$color-dark: #2a3564;
$color-dark2: #212a51;
$color-orange: #f99460;
$color-red: #d6444e;

@mixin panel {
  display: flex;
  flex-direction: column;
  background: linear-gradient($color-dark, $color-dark2);
  padding-bottom: 3rem;
}

.label {
  display: inline-block;
  margin: 1rem;

  em {
    margin: 1rem;
    font-size: $fontSize-large;
    color: $color-orange;
  }
}

.subLabel {
  display: block;
  text-align: center;
  opacity: .6;
}

.create {
  margin: 1rem;
}

.play {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: radial-gradient(at 50% 50%, $color-dark 10%, $color-dark2 80%);
  color: $color-light;
  user-select: none;
  table{
    color: $color-light;
  }

  .tradeListWrapper{
    @include panel;
    .tradeList {
      table-layout: fixed;
      text-align: center;
      margin: 1rem auto;
      flex-grow: 1;
      overflow: auto;

      tr {
        height: 2rem;

        th {
          width: 5rem;
          font-weight: normal;
        }

        td {
          color: $color-orange;
          &:first-child {
            color: $color-light;
          }
        }
      }
    }
  }

  .trading {
    margin: 2rem auto;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    > div {
      margin: 1rem;
    }


    .tradePanel {
      flex-basis: 24rem;
    }
    .asset {
      .summary {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div {
          flex-basis: 45%;
          margin-top: 1.5rem;

          em {
            display: inline-block;
            width: 6rem;
            font-size: $fontSize-large;
            color: $color-orange;
            text-align: center;
          }
        }
      }

      .repayWrapper {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .orderPanel {
      @include panel;
      min-height: 80vh;

      .orderBook {
        margin: 2rem 0;
        min-height: 16rem;
        display: flex;
        justify-content: space-between;

        .orderList {
          width: calc(50% - .2rem);
          table-layout: fixed;
          text-align: center;

          .orderTable {
            margin: auto;

            tr {
              height: 2rem;
              text-align: center;

              th {
                font-weight: normal;
                width: 4rem;

                &:last-child {
                  width: 1rem;
                }
              }

              td {
                color: $color-red;

                &.count {
                  color: $color-orange;
                }

                .btnCancel {
                  color: $color-light;
                  transition: $transition-normal;

                  &:hover {
                    color: $color-red;
                  }
                }
              }
            }
          }
        }
      }

      .orderSubmission {
        @include secondarySection;

        .marketWillOpen {
          text-align: center;
          margin: 2rem;
          font-size: 1.5rem;
          color: rgba($color-light, .8);

          em {
            font-size: 2.5rem;
            color: $color-red;
            margin: 0 .5rem;
          }
        }

        .newOrder {
          text-align: center;

          .orderInputWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          .submitBtnWrapper {
            margin: 2rem 0;
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    .marketHistoryWrapper {
      .marketHistory {
        @include panel;
        padding: 1rem;
        cursor: pointer;
        transition: $transition-normal;

        &:hover {
          background: linear-gradient($color-dark, $color-dark);
        }
      }
    }
  }

  .resultWrapper {
    text-align: center;

    .result {
      .resultTitle {
        margin: 2rem;
        font-size: $fontSize-large;
      }

      .resultTable {
        margin: auto;

        td {
          padding: 1rem 2rem;
          border: 1px solid;
        }
      }
    }

    .toNextPeriod {
      margin: 2rem;
      font-size: $fontSize-large;

      em {
        font-size: 2rem;
        color: $color-red;
        margin: 0 .5rem;
      }
    }

    .switchBtns {
      margin: 2rem;
      display: flex;
      justify-content: center;
    }
  }
}
