@import "~bespoke-client-util/lib/resource/public";

.create {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;

  .configFields {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    li {
      margin: .8rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .privatePriceTable {
    margin-top: 3rem;
    color: $color-black;
    text-align: center;

    td {
      border: $borderLine;
      width: 5rem;
      height: 3rem;

      a {
        margin: 0 .3rem;
      }

      input {
        width: 4rem;
      }

      &.readonly input {
        border-bottom-color: transparent;
      }
    }
  }

  .btnSwitch {
    margin-top: 2rem;
    text-align: center;

    a {
      transition: $transition-normal;
      color: rgba($color-blue, .9);

      &:hover {
        color: $color-blue;
        text-decoration: underline;
      }
    }
  }
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
