@import "~@elf/component/lib/public";

.blankMsg {
  @include blankMsg;
}

.play {
  $videoWidth: 24rem;
  max-width: 48rem;
  margin: auto;
  padding: 2rem;

  .mainContent {
    .videoWrapper {
      width: $videoWidth;
      height: .75 * $videoWidth;
      margin: auto;
      position: relative;

      .video {
        width: 100%;
        height: 100%;
      }

      .svg {
        position: absolute;
        top: 0;
        left: 0;
        circle,polygon{
          fill: none;
          stroke: #eee;
        }
      }

      .canvas {
        display: none;
      }
    }

    .btnWrapper {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      button{
        margin: .5rem;
      }
    }
  }
}

.resultItem {
  padding: .5rem 1.5rem;
  margin-top: .5rem;
  color: $color-black;
  border-bottom: $borderLine;
  display: flex;

  >div {
    margin-right: 1rem;
  }

  em {
    font-size: $fontSize-middle;
    margin: .5rem;
    color: $color-blue;
  }

  .emotion {
    td{
      border: $borderLine;
      text-align: center;
      width: 5rem;
      height: 2rem;
    }
  }
}