@import "~elf-component/lib/resource/public";

.create {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .fields {
    >li {
      display: flex;
      margin-bottom: .5rem;
    }
  }
  .params {
    margin-top: 1rem;
  }
}

.play4Owner {
  display: flex;
  flex-direction: column;
  align-items: center;
  .resultTable {
    border-collapse: separate;
    width: 100%;
    max-width: 500px;
    margin: 1rem 0;
    td {
      text-align: center;
    }
  }
  .exportBtn {
    flex: 100%;
    margin: .5rem;
    color: $color-blue;
    text-align: center;
    transition: $transition-normal;
    margin-top: 20px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.result {
  text-align: center;
  p {
    margin: 20px 0;
  }
}

.result4Owner {
  margin: 1rem 2rem;
  .timeLine {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    label {
      font-size: .8 * $fontSize-small;
      color: rgba($color-black, .8);
    }
    input {
      margin: .5rem;
      min-width: 24rem;
    }
    .paramsLabel {
      display: inline-block;
      height: 1rem;
      font-size: .8 * $fontSize-small;
      color: rgba($color-black, .8);
    }
  }
  .resultWrapper {
    display: flex;
    .resultTable {
      tr {
        td {
          min-width: 5rem;
          padding: .5rem;
          text-align: center;
        }
        &:nth-child(even) {
          background: rgba($color-black, .05);
        }
      }
    }
    .exportWrapper {
      margin-left: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-left: 1px solid rgba($color-black, .1);
      label {
        margin: .5rem;
        font-size: .8 * $fontSize-small;
        color: rgba($color-black, .8);
      }
      a {
        display: inline-block;
        margin: .5rem;
        font-size: $fontSize-middle;
        color: $color-blue;
        text-align: center;
        transition: $transition-normal;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
