@import "public";

.markdown {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  .content {
    flex-basis: 100%;
    min-height: 16rem;
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    background: $color-background;
  }
}