.content {
  max-height: calc(100vh - 8rem);
  overflow: auto;
}
.submitBar {
  padding: 1rem 1.5rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
}
