.content {
  height: calc(100vh - 11rem);
  overflow: auto;
}
.submitBar {
  padding: 1rem 1.5rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  width: 100%;
}
