.content {
  height: calc(100vh - 11rem);
  overflow: auto;

  .descPreviewWrapper {
    min-height: 6rem;
    padding: 0.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
  }
}

.submitBar {
  padding: 1rem 1.5rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  width: 100%;
}
