@import "~@elf/component/lib/public";

$color-orange: #f99460;
$color-green: #43be42;
$color-light: rgba(white, .8);

.create {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .fields {
    > li {
      display: flex;
      margin-bottom: .5rem;
    }
  }

  .params {
    margin-top: 1rem;
  }
}

.play {
  min-height: 100vh;
  background: radial-gradient(#293567, #151b35);
  text-align: center;

  .playContent {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    p,
    td {
      color: #dde1e9;
    }

    .inputContainer {
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
    }

    .modalIpo {
      padding: 30px;
      text-align: left;

      > .title {
        text-align: center;
      }
    }

    .operation {
      padding: 1px 8px 1px 8px;
      border: 1px solid transparent;
      border-radius: 30%;
      background-color: #11234C;
      color: #65749C;
      font-size: 11px;
      cursor: pointer;

      &:first-child {
        margin-right: 5px;
      }
    }

    .leftBtn {
      position: fixed;
      right: 15vw;
      top: 48vh;
    }

    .rightBtn {
      position: fixed;
      right: 15vw;
      top: 55vh;
    }

    .stockInfo {
      margin: 15vh 1rem 1rem;
      border-collapse: separate;
      width: 100%;
      border: 1px solid;
      border-image: radial-gradient(closest-side, #67e968, #383d60) 40;

      .codeName, .codeNameData {
        display: flex;

        div {
          flex-basis: 8rem;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-right: 1px solid #383d60;
        }
      }

      .contractor {
        margin: 0;
      }

      tr:first-child td {
        color: #67e968;
        border-bottom: 1px solid #383d60;
      }

      td {
        height: 5rem;
        border-right: 1px solid #383d60;

        &:first-child, &:last-child {
          border-right: none;
        }
      }
    }

    .issuer {
      margin: 2rem;
    }

    .privateValue {
      display: inline-block;
    }

    .investor {
      margin: 0;

      .inputWrapper {
        padding: 1rem;
      }
    }

    .shoutTimer {
      margin: 1rem;
    }

    .startPrice {
      margin: 0;
    }

    @media (max-width: $layout-mediaWidth) {
      .leftBtn {
        top: 10px;
        right: 55vw;
      }

      .rightBtn {
        top: 10px;
        right: 10vw;
      }
    }
  }
}

.guideContent {
  text-align: left;

  h4 {
    color: $color-orange;
    margin: 1rem 0 .5rem;
  }

  em {
    color: $color-green;
    margin: .5rem;
  }
}