@import "public";

.languageSwitcher{
  margin: 2px 0 0 auto;
  display: flex;
  font-size: .8rem;
  color: lighten($color-black,30%);
  overflow: hidden;
  li{
    padding: 0 .5rem;
    margin-left: -1px;
    border-left: 1px solid lighten($color-black,30%);
    cursor: pointer;
    user-select: none;
    &.active{
      color: $color-blue;
    }
  }
}
