@import "~@elf/component/lib/public";

.groupGuide {
  max-width: 48rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .guideWrapper{
    margin: 3rem 0;
  }
}

.groupPlay {
  @extend .groupGuide;
  position: relative;

  .title {
    margin: 2rem;
  }
}

.groupResult {
  display: flex;
  justify-content: center;
  margin: 2rem;
  font-size: 1.5rem;
}

.historyWrapper {
  position: absolute;
  top: 50%;
  right: 0;
}
