.nav {
    display: flex;
    nav {
        position: fixed;
        background-color: #fff;
        z-index: 10;
        top: 0;
        bottom: 0;
        left: 0;
        width: 20%;
        max-width: 200px;
        box-shadow: 1px 0 2px 0px rgba(black,0.1);
        li {
            cursor: pointer;
            display: flex;
            justify-content: center;
            margin: 3rem;
            font-size: 18px;
            &.active {
                color: #5588ee;
            }
            &.closed {
                cursor: not-allowed;
            }
        }
    }
    .navHolder {
        width: 20%;
        max-width: 200px;
    }
    .container {
        flex: 1;
    }
}