@import "public";

.blankMsg {
  @include blankMsg;
}

.create {
  max-width: 48rem;
  margin: auto;
  .titleWrapper{
    padding: 2rem 4rem;
  }
  .historyGameBtnWrapper{
    text-align: right;
    margin-right: 1rem;
  }
  .bespokeWrapper {
    flex-basis: 66%;
    @media (max-width: $layout-mediaWidth) {
      width: 100%;
    }
  }
  .submitBtnWrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    background: linear-gradient(rgba($color-background, .1), $color-background)
  }
}
