@import "~@elf/component/lib/public";

.play {
  padding: 1rem;
  font-size: 16px;
  .stage {
    > p {
      margin-bottom: 1rem;
    }
  }
  .info {
    margin-bottom: 1rem;
    > label {
      display: block;
      margin-bottom: 5px;
    }
    > input {
      max-width: 300px;
    }
  }
}

.play4Owner {
  padding: 1rem;
  .exportBtn {
    display: inline-block;
    margin-bottom: 1rem;
  }
}
