@import "public";

.dashboard {
  padding: 2rem;

  .title {
    font-size: $fontSize-middle;
    color: rgba($color-black, .6);
    margin: 1rem;
  }

  .createBtnWrapper {
    display: flex;
    justify-content: center;
  }

  .historyGames {

    display: flex;
    flex-wrap: wrap;
    margin: 2rem;

    li {
      padding: 2rem 3rem;
      margin: .5rem;
      border-radius: .2rem;
      background: white;
      font-size: $fontSize-large;
      cursor: pointer;
      transition: $transition-normal;
      border: $borderLine;
      min-width: 16rem;
      max-width: 32rem;
      word-break: break-all;

      .timestamp {
        color: rgba($color-black, .6);
        font-size: $fontSize-small;
        display: block;
        text-align: right;
      }

      &:hover {
        color: $color-blue;
      }
    }
  }
}