.messageUtilBox {
    position: fixed;
    top: 20px;
    right: 15%;
    z-index: 1200;
    /* width: 250px; */
}

.messageUtilBox .item {
    box-sizing: border-box;
    min-width: 260px;
    height: 40px;
    margin: 0 auto;
    padding: 0 1rem;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.65);
}

.messageUtilBox .item + .item {
    margin-top: 20px;
}

.messageUtilBox .item  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
}

.messageUtilBox .item  .success {
    background-color: #51fc9f;
}

.messageUtilBox .item  .error {
    background-color: #ff3d35;
}
.messageUtilBox .item  .warn {
    background-color: #fcb669;
}
@media screen and (max-width: 500px){
    .messageUtilBox {
        left: 50%;
        transform: translate(-50%, 0);
    }
}