@import "~bespoke-client-util/lib/resource/public";

.play {
  width: calc(99vw - 2rem);
  margin: 2rem auto 0;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .introStage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
  }

  .playingStage {
    // background-image: url("../../../../components/bj.svg");
    .inputContainer {
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
    }
  }
}
