@font-face {
  font-family: 'raster';
  src: url('./Play/asset/font/raster.ttf');
}

body{
  background: url('./Play/asset/sprites/bg.png')
}

.result{
  width: 16rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
