@import 'public';

.gameControl {
  .subTitle {
    color: rgba(0, 0, 0, 0.85);
  }

  .simulatePlayer {
    flex-basis: 60%;
    user-select: none;

    .playerNames {
      margin: 1rem 0;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;

      span {
        margin: .5rem 1rem;
      }

      a {
        margin: 0.5rem 0 .5rem 1rem;
        color: $color-blue;
        transition: $transition-normal;

        &:hover {
          text-decoration: underline;
        }

        &:before {
          content: '|';
          display: inline-block;
          padding-right: 1rem;
          color: rgba($color-black, 0.6);
        }
        &:first-child:before{
          content: none;
        }
      }
    }
  }

  .switcherWrapper {
    margin-top: 1rem;
    display: flex;
  }
}
