@import "~bespoke-client-util/lib/resource/public";

.blankMsg {
  @include blankMsg;
}

.create {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;

  .btnGroup {
    text-align: center;
    color: $color-red;

    .btnAdd {
      color: $color-blue;
      display: inline-block;
      margin: 0 1rem .5rem;
    }
  }

  .roles {
    display: flex;
    flex-wrap: wrap;

    .role {
      flex-basis: 33%;
      display: flex;
      height: 2.5rem;
      align-items: center;
      justify-content: center;

      .positionSeq {
        width: 3rem;
      }

      &:nth-child(odd) {
        background-color: rgba($color-black, .04);
      }
    }
  }

  .baseFields {
    display: flex;
    justify-content: center;
  }

  .positions {
    width: 100%;

    tr {
      padding: 0 2rem;
      height: 2rem;
      text-align: center;
      color: rgba($color-black, .8);
      user-select: none;

      th {
        font-weight: normal;

        &:nth-child(1) {
          width: 4rem;
        }

        &:nth-child(2) {
          width: 12rem;
        }

        &:nth-child(3) {
          width: 16rem;
        }
      }

      &:nth-child(odd) {
        background-color: rgba($color-black, .04);
      }
    }

    .unitList {
      outline: none;
      width: 100%;
      border-style: none;
      cursor: pointer;
      background: transparent;
      transition: all .2s linear;

      &:hover, &:focus {
        color: $color-blue;
      }
    }
  }
}

.player4Owner {
  display: flex;
  justify-content: center;

  .playerStatusTable {
    tr {
      td {
        min-width: 5rem;
        padding: .5rem;
        text-align: center;
      }

      &:nth-child(even) {
        background: rgba($color-black, .05);
      }
    }
  }

  .assignPosition {
    display: flex;
    flex-direction: column;
    align-items: center;

    .btnWrapper {
      margin-top: 1rem;

      .inGameNum {
        display: flex;
        justify-content: center;
      }
    }
  }

  .mainGame {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .timer {
      color: rgba($color-black, .8);

      em {
        font-size: $fontSize-large;
        color: $color-blue;
        margin: .5rem;
      }
    }

    .marketInfo {
      display: flex;
      align-items: center;
      width: 40rem;

      .orderList {
        width: 75%;

        ul {
          display: flex;
          align-items: center;
          justify-content: left;

          label {
            color: rgba($color-black, .8);
            margin: .5rem .8rem;
          }

          li {
            padding: 0 .5rem;
            border-left: 1px solid rgba($color-black, .6);
          }
        }
      }

      .countdownLabel {
        @extend .timer;
      }
    }

    .chartPanel {
      width: 80%;
      max-width: 32rem;
      margin: 0 auto;

      .marketName {
        @extend .timer;
        display: block;
        text-align: center;
      }

      .chartWrapper {
        width: 100%;
      }
    }
  }
}

.result4Owner {
  margin: 1rem 2rem;

  .timeLine {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    label {
      font-size: .8 * $fontSize-small;
      color: rgba($color-black, .8);
    }

    input {
      margin: .5rem;
      min-width: 24rem;
    }

    .paramsLabel {
      display: inline-block;
      height: 1rem;
      font-size: .8 * $fontSize-small;
      color: rgba($color-black, .8);
    }
  }

  .resultWrapper {
    display: flex;

    .resultTable {
      tr {
        td {
          min-width: 5rem;
          padding: .5rem;
          text-align: center;
        }

        &:nth-child(even) {
          background: rgba($color-black, .05);
        }
      }
    }

    .exportWrapper {
      margin-left: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-left: 1px solid rgba($color-black, .1);

      label {
        margin: .5rem;
        font-size: .8 * $fontSize-small;
        color: rgba($color-black, .8);
      }

      a {
        display: inline-block;
        margin: .5rem;
        font-size: $fontSize-middle;
        color: $color-blue;
        text-align: center;
        transition: $transition-normal;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

$border: 1px solid rgba($color-black, .05);
$height-tr: 2.4rem;
@keyframes switchPlayContent {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

.matching{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainGame {
  &.playContent {
    margin: 2rem auto;
    width: 95%;
    animation: switchPlayContent .2s linear;

    .title {
      margin: 1rem 1.5rem;
    }

    @mixin panel {
      background: white;
      border-radius: $border-radius;
      flex-basis: 24rem;
      flex-grow: 1;
      margin: 0 calcSlotWidth(1);
      display: flex;
      flex-direction: column;
    }

    .header {
      display: flex;
      justify-content: space-around;
      padding-bottom: 1rem;
      border-bottom: 1px solid rgba($color-black, .05);

      li {
        em {
          min-width: 3rem;
          text-align: center;
          display: inline-block;
          font-size: $fontSize-large;
          color: $color-blue;
        }
      }
    }

    .body {
      @mixin listTable {
        text-align: center;
        tr {
          height: 2 * $fontSize-large;
          cursor: pointer;

          td {
            color: rgba($color-black, .8);
            padding: .5rem 1rem;

            &:last-child {
              text-align: left;
            }
          }

          &:nth-child(odd) {
            background: white;
          }

          &.active {
            td {
              color: $color-blue;
              $border: 2px solid;

              &:first-child {
                border-left: $border;
              }

              &:last-child {
                border-right: $border;
              }
            }
          }
        }
      }

      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;

      .personalPanel {
        @include panel;

        .personalInfo {
          @include secondarySection;

          .infoText {
            margin: 1rem 1rem;
            padding: 1rem 2rem;
            border-radius: 2px;
            background-color: $color-background;

            li {
              display: flex;
              justify-content: space-between;
            }

            em {
              margin: 0 .5rem;
              font-size: $fontSize-large;
              color: $color-red;
            }
          }
        }

        .yourTrades {
          @include secondarySection;

          .tradeListWrapper {
            margin: 1rem;
            min-height: 12rem;
            flex-grow: 1;
            overflow: auto;

            .tradeList {
              width: 100%;
              @include listTable;
              table-layout: fixed;

              tr td:last-child {
                text-align: center;
              }
            }
          }
        }
      }

      .orderPanel {
        @include panel;

        .orderBook {
          @include secondarySection;

          .orderListWrapper {
            margin: 1rem;
            min-height: 16rem;
            display: flex;
            justify-content: space-between;

            .orderList {
              width: calc(50% - .2rem);
              @include listTable;

              tr {
                td.btnCancelWrapper {
                  padding: 0;

                  .btnCancel {
                    color: rgba($color-red, .7);
                    transition: $transition-normal;

                    &:hover {
                      color: $color-red;
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
        }

        .orderSubmission {
          @include secondarySection;

          .curUnitInfo {
            li {
              margin-bottom: 1rem;
              display: flex;
              justify-content: space-around;
              align-items: center;

              em {
                display: inline-block;
                width: 5rem;
                font-size: $fontSize-large;
                color: $color-blue;
              }
            }
          }

          .marketWillOpen {
            text-align: center;
            margin: 2rem;
            font-size: 1.5rem;
            color: rgba($color-black, .8);

            em {
              font-size: 2.5rem;
              color: $color-red;
              margin: 0 .5rem;
            }
          }

          .newOrder {
            .orderInputWrapper {
              display: flex;
              justify-content: center;

              input {
                color: rgba($color-black, .8);
                width: 9rem;
                text-align: center;
                outline: none;
                font-size: 4rem;
                border: none;
                border-bottom: 1px solid rgba($color-black, .5);

                &::-webkit-inner-spin-button {
                  opacity: 1;
                  padding: .5rem;
                }
              }
            }

            .submitBtnWrapper {
              margin: 2rem 0 0;
              display: flex;
              justify-content: center;
            }
          }
        }
      }

      .historyPanel {
        @include panel;

        .tradeHistory {
          @include secondarySection;

          .tradeChartWrapper {
            margin: 1rem;
          }
        }
      }
    }

    .result {
      text-align: center;

      p {
        margin: 2rem;
        font-size: $fontSize-large;

        em {
          font-size: 2rem;
          color: $color-red;
          margin: 0 .5rem;
        }
      }
    }
  }
}
