@import "public";

$submitBarHeight: 5rem;

.create {
  width: $layout-mainContentWidth;
  margin: auto;
  @media (max-width: $layout-mediaWidth) {
    width: 100%;
  }
  display: flex;
  flex-direction: column;
  .addPhaseBtn {
    margin-bottom: 1rem;
  }
  .phasesSection {
    flex-grow: 1;
    padding-bottom: $submitBarHeight;
    .phaseCard {
      flex-grow: 1;
      transition: $transition-normal;
      .createWrapper {
        min-height: 16rem;
      }
    }
  }
  .submitBtnGroup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    height: $submitBarHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba($color-black, .1);
    .btn {
      margin: .5rem;
    }
  }
}

.flowChart {
  min-height: 24rem;
  margin: auto;
}

.addPhase {
  .searchBar {
    display: flex;
    justify-content: center;
  }
  .templateNode{
    img{
      max-height: 3rem;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
}
