@import "~@elf/component/lib/public";

.play {
  padding-top: 2rem;

  .display {
    border-collapse: separate;
    width: 100%;
    max-width: 300px;
    border: 1px solid;
    margin: 1rem 0;

    td {
      text-align: center;
    }

    .data {
      color: red;
    }
  }

  .choice {
    font-size: 16px;
    min-width: 300px;
    margin-bottom: 3rem;
    .disabled {
      pointer-events: none;
      color: #ccc;
    }

    p {
      margin: .5rem 0;
    }

    .tips {
      font-size: 1rem;
      color: #999;
    }

    li {
      list-style: decimal;
    }
  }

  .instruction {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 10px 0;
    color: rgb(66, 133, 244);
  }

  .blueWords {
    color: rgb(66, 133, 244);
  }

  .newLine {
    display: block;
  }

  .tipWrong {
    color: red;

    span {
      color: red;
    }
  }

  .resultLines {
    font-size: 16px;

    > p {
      margin-bottom: 5px;
    }
  }

  .seatStage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testStage {
    display: flex;
    flex-direction: column;
    align-items: center;

    .desc {
      margin-bottom: 20px;
    }

    .testQuestion {
      width: 80%;
      min-width: 300px;
    }
  }

  .mainStage {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 32rem;
    margin: auto;

    > div {
      width: 100%;
      padding: 1rem;
    }
  }

  .endStage {
    text-align: center;

    p {
      margin: 20px 0;
    }
  }
}