@import "~@elf/component/lib/public";

.play {
  padding: 2rem;

  .instruction {
    text-align: center;
    width: 12rem;
    margin: auto;
  }

  .contribute {
    margin: auto;
    max-width: 64rem;
    padding-bottom: 4rem;

    .tokenInfo{
      margin: 1rem;
      font-size: $fontSize-large;
    }

    .projects {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 1px;

      .project {
        margin: .5rem;
        .head{
          text-align: center;
          margin-bottom: 1rem;
          font-size: $fontSize-middle;
          line-height: 2rem;
          a{
            font-size: .8rem;
            text-decoration: underline;
          }
        }
        .btnContributeWrapper{
          text-align: center;
          margin-top: 1.5rem;
        }
        em {
          font-size: 1.2rem;
          color: $color-blue;
          padding: .5rem;
        }
      }
    }

    .btnGroup {
      position: fixed;
      bottom: 2rem;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

  .questionnaire{
    margin: auto;
    max-width: 48rem;
    display: flex;
    flex-direction: column;
    .btnSubmitWrapper{
      margin: 1rem;
      text-align: center;
    }
  }
}

.projectPopover{
  font-size: 1.25rem;
  padding: 1rem;
}

.contributeModal {
  .inputWrapper {
    text-align: center;
    margin-top: 2rem;
  }
}
