@import "~@elf/component/lib/public";

$color-orange: #f99460;
$color-green: #43be42;
$color-light: rgba(white, .8);

.play {
  background: radial-gradient(#293567, #151b35);
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  .playContent {
    max-width: 48rem;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .line {
      width: 95%;
      padding: .5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #2e2e2e;
    }

    .highlight {
      color: #58c350;
    }

    .stockInfo {
      margin: 10vh 1rem 1rem;
      border-collapse: separate;
      width: 100%;
      border: 1px solid;
      border-image: radial-gradient(closest-side, #67e968, #383d60) 40;

      .startDate {
        margin: 0;
      }

      tr:first-child td {
        color: #67e968;
        border-bottom: 1px solid #383d60;
      }

      td {
        height: 5rem;
        border-right: 1px solid #383d60;

        &:first-child, &:last-child {
          border-right: none;
        }
      }
    }

    .workBox {
      margin-bottom: 20px;
      border-radius: 1rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      height: 22rem;
      width: 20rem;
      background: radial-gradient(#293567, #151b35);
      border: solid 1px #5d5d5d;

      .tipText {
        height: 4rem;
        line-height: 4rem;
        text-align: center;
      }

      .shoutBtn {
        cursor: pointer;
        margin-top: 2rem;
        background: linear-gradient(#14533e, #1e2b49);
        border: solid 1px #58c350;
        color: #aefe49;
        padding: .8rem 3rem;
        border-radius: .5rem;
      }
    }

    .countDown {
      margin: 1rem;
      text-align: center;
    }

    .dynamicInfo {
      margin: 0;
    }
  }

  .tradeBtn {
    position: fixed;
    top: 35vh;
    right: 15vw;
  }
}

.header {
  background: #202744;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
  }
}

.infoTable {
  margin-top: 4rem;

  thead {
    tr {
      height: 2.5rem;
      text-align: center;

      td {
        border-top: solid 1px #37803a;
        border-left: solid 1px #5d5d5d;
        border-right: solid 1px #5d5d5d;
        border-bottom: solid 1px #5d5d5d;
        width: 10rem;
        height: 3rem;
        color: #e2e2e2;
      }
    }
  }

  tbody {
    tr {
      height: 2.5rem;
      text-align: center;

      td {
        border-bottom: solid 1px #37803a;
        border-left: solid 1px #5d5d5d;
        border-right: solid 1px #5d5d5d;
        border-top: solid 1px #5d5d5d;
        width: 12rem;
        height: 4rem;
        color: #e2e2e2;
      }
    }
  }
}

.infoBar {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 2.1rem;
  border: solid 1px #5d5d5d;
  border-radius: 5rem;
  color: #d79d76;
  background: #394263;
  align-self: center;
}

.modalContent {
  padding: 30px;
  color: #fff !important;

  > p {
    text-align: center;
    color: #fff !important;
  }
}

.shoutStage {
  .countLimit {
    color: #7d85b3;

    .priceHighlight {
      color: orange;
    }
  }

  .feeInfo {
    position: relative;

    .feeNumber {
      color: #7d85b3;
      position: absolute;
      left: 0;
      top: 2px;
    }

    .halfIn {
      position: absolute;
      right: 0px;
      padding: 2px 8px;
      border-radius: 20px;
      background: #19224d;
      color: #7d85b3;
    }

    .allIn {
      position: absolute;
      right: 50px;
      padding: 2px 8px;
      border-radius: 20px;
      background: #19224d;
      color: #7d85b3;
    }
  }
}

.guideContent {
  text-align: left;

  h4 {
    color: $color-orange;
    margin: 1rem 0 .5rem;
  }

  em {
    color: $color-green;
    margin: .5rem;
  }
}

@media(max-width: 768px) {
  .play {
    .tradeBtn {
      top: 10px;
      right: 55vw;
    }
  }
}