@import "~@elf/component/lib/public";

.play {
  max-width: 36rem;
  margin: auto;
  padding-top: 2rem;

  .display {
    border-collapse: separate;
    width: 100%;
    max-width: 300px;
    border: 1px solid;
    margin: 1rem auto;

    td {
      text-align: center;
    }

    .data {
      color: red;
    }
  }

  .choice {
    font-size: 1.2rem;
    margin: 2rem;
    .disabled {
      pointer-events: none;
      color: #ccc;
    }

    p {
      margin: .5rem 0;
    }

    .tips {
      font-size: 1rem;
      color: #999;
    }

    li {
      list-style: decimal;
    }
  }

  .instruction {
    max-width: 32rem;
    font-size: 1rem;
    margin: .5rem 1rem;
    color: rgb(66, 133, 244);
  }

  .blueWords {
    color: rgb(66, 133, 244);
  }

  .newLine {
    display: block;
  }

  .tipWrong {
    color: red;

    span {
      color: red;
    }
  }

  .resultLines {
    font-size: 16px;

    > p {
      margin-bottom: 5px;
    }

    .yourChoice2 {
      td {
        padding: .5rem 1rem;
        border: 1px solid;
      }
    }
  }

  .seatStage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testStage {

    .desc {
      margin-bottom: 20px;
    }

    .testQuestion {
      width: 80%;
      min-width: 300px;
    }
  }

  .mainStage {
    > div {
      width: 100%;
      padding: 1rem;
    }
  }

  .surveyStage {
    max-width: 36rem;
    margin: auto;
    font-size: 1.25rem;

    .questions li {
      margin: 2rem;
    }

    p {
      margin: .5rem 0;
    }
  }

  .endStage {
    text-align: center;

    p {
      margin: 20px 0;
    }
  }
  .testStageTable {
    border-collapse: collapse;
    text-align: center;
    width: 120%;
    td {
      border: 1px solid #000;
      text-align: center;
    } 
  }
}